h1 Create
form.well.container#createForm(ng-submit="vm.create()")
  label first name: 
  input.form-control(ng-model="vm.player.firstName")
  br
  label last name:
  input.form-control(ng-model="vm.player.lastName")
  br
  label age:
  input.form-control(ng-model="vm.player.age")
  br
  label sport:
  input.form-control(ng-model="vm.player.sport")
  br
  label position:
  input.form-control(ng-model="vm.player.position")
  br
  label height:
  input.form-control(ng-model="vm.player.height")
  br
  label weight:
  input.form-control(ng-model="vm.player.weight")
  br
  label number:
  input.form-control(ng-model="vm.player.number")
  br
  label image:
  input.form-control(ng-model="vm.player.image")
  br
  label team name:
  input.form-control(ng-model="vm.player.teamName")
  br
  label college:
  input.form-control(ng-model="vm.player.college")
  br
  label nationality:
  input.form-control(ng-model="vm.player.nationality")
  br
  button.btn.btn-success Submit
